
<div class="container">
  <br>
  <input type="radio"  checked name="user" value="author"/><label>Author</label>
  <input type="radio"  #userInput name="user" value="pcmember"/><label>PC Member</label>
  <br>
  <br>
  <input type="text" placeholder="Name" #name/>
  <br>
  <br>
  <input type="text" placeholder="Username" #userInput/>
  <br>
  <br>
  <input type="password" #passInput placeholder="Password">
  <br>
  <br>
  <input type="text" placeholder="Email" #email/>
  <br>
  <div id="PCMemberInput">

  </div>
  <button (click)="register(userInput.value,passInput.value)">Register!</button>
</div>
