.register{
  margin:5px;


}

.container{
  padding: 10px;
  height: auto;
  background-color: lightgray;
  width:auto;
  text-align: center;
  margin-top:15%;

}
input{
  border-radius: 15px;
  padding: 8px;
  margin: 10px;
}
button{
  border-radius: 10px;
}

input:focus
{
  outline: none;
}
