<div class="container" *ngIf="conference">
  <h1>Conference {{conference.name}} Details:</h1>
  <hr>
  <br>
  <div>
    {{conference.callForPapers}}
    <br/>
    <br/>
    <label>Start Date: </label>{{conference.startDate | date:'yyyy-MM-dd'}}
    <label>
      <input *ngIf="isChair === 'true' || isCoChair === 'true'" value="{{conference.startDate | date:'yyyy-MM-dd'}}" id="startDate">
    </label><br/>
    <label>End Date: </label>{{conference.endDate | date:'yyyy-MM-dd'}}
    <input *ngIf="isChair === 'true' || isCoChair === 'true'" value="{{conference.endDate | date:'yyyy-MM-dd'}}" id="endDate"><br/>
  </div>
  <hr>
  <button (click)="goBack()">Back</button>
  <button *ngIf="isChair === 'true' || isCoChair === 'true'" (click)="updateConference()">Update Deadlines</button>
</div>
