<div *ngIf="proposal">
  <h2> Proposal {{proposal.name}} DETAILS:</h2>
  <br>
  <hr>
  <h4>Keywords:</h4><br>
  <p>{{proposal.keywords}}</p>

  <h4>Topics:</h4><br>
  <p>{{proposal.topics}}</p>
  <hr>

  <button *ngIf="user !== null && (user.isChair || user.isCoChair) && currentDate > conference.biddingDeadline" (click)="showList()">
    Assign reviewers
  </button>
  <button *ngIf="canDoBidding()" (click)="bidProposal(proposal, true)">Accept Proposal</button>
  <button *ngIf="canDoBidding()" (click)="bidProposal(proposal, false)">Refuse Proposal</button>

  <div *ngIf="user !== null && usersToReview !== null ">
    <ul>
      <li *ngFor="let user of usersToReview">
        {{user.name}}
        {{user.emailAddress}}
        {{user.affiliation}}
        {{user.personalWebsite}}
        <button (click)="setAsReviewer(user)" >Set as reviewer</button>
      </li>
    </ul>
  </div>
  <button (click)="goBack()">Go Back</button>
  <button *ngIf="user !== null && reviewersForProposal !== null && reviewersForProposal.indexOf(user.id) !== -1" (click)="showForReview = true">Review</button>
  <div *ngIf="showForReview">
    <div *ngIf="review !== null && review.qualifier === ''">
      <label><b>Qualifier:</b>
        <input type="radio" value="Strong Accept" [(ngModel)]="qualifier">Strong Accept
        <input type="radio" value="Accept" [(ngModel)]="qualifier">Accept
        <input type="radio" value="Weak Accept" [(ngModel)]="qualifier">Weak Accept
        <input type="radio" value="Borderline Paper" [(ngModel)]="qualifier">Borderline Paper
        <input type="radio" value="Weak Reject" [(ngModel)]="qualifier">Weak Reject
        <input type="radio" value="Reject" [(ngModel)]="qualifier">Reject
        <input type="radio" value="Strong Reject" [(ngModel)]="qualifier">Strong Reject
      </label><br/><br/>
    </div>
    <label><b>Recommendation: </b><br/>
      <textarea rows="6" cols="40" #recommendation [value]="review.recommendation"></textarea>
    </label><br/>
    <button (click)="reviewProposal(recommendation.value)">Submit Review</button>
  </div>
  <div *ngIf="user !== null && review !== null && review.qualifier !== '' && review.recommendation !== ''">
    <ul class="review-list">
      <li  *ngFor="let reviewOthers of reviewsByAllUsers" style="list-style-type: none">
        <div class="review" >
          <h4 *ngIf="reviewOthers.user.id !== user.id">-Review Of {{reviewOthers.user.name}}:</h4>
          <h4 *ngIf="reviewOthers.user.id === user.id">-My Review:</h4><br/>
          <b>Qualifier: </b><br/>{{reviewOthers.qualifier}}<br/><br/>
          <b>Recommendation: </b><br/>{{reviewOthers.recommendation}}<br/>
        </div>
      </li>
    </ul>
  </div>
</div>
