.conference {
  /*border: 1px solid;*/
  border-color: blue;
  width: auto;
  height:auto;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
  background-color: #F5F5F5;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.conferenceName{
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: black;
  width:40%;
  margin-bottom: 5%;
  border-bottom-right-radius: 5px;
}
.details {
  text-align: right;
  margin-top: 5%;

}


.container {
  display: grid;

  grid-template-columns: 40% 40%;
  justify-content: space-between;
}

button {
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color:#007dc1;
  border-radius:3px;
  border:1px solid #124d77;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
  margin-bottom: 5px;
  margin-right: 5px;
}
button:hover {
  background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color:#0061a7;
}
button:active {
  position:relative;
  top:1px;
}
