<h1>
  Proposals:
</h1>

<div class="container">

  <div class="proposal" *ngFor="let proposal of proposals ">
    <div class="proposalName">
     <h2>Proposal {{proposal.name}} </h2>
    </div>
    <hr>
    <div class="middleDiv">
      <h4>Keywords:</h4> {{proposal.keywords}}
    <br><br>
      <h4>Topics:</h4> {{proposal.topics}}
    </div>
    <hr>
    <div class="buttonsDiv">
      <button *ngIf="writtenProposals.indexOf(proposal.id) !== -1" (click)="goToUpdateProposal(proposal.id)">Update</button>
      <button *ngIf="permission !== null && permission.isPCMember === true && unbiddenIDs.indexOf(proposal.id) !== -1" (click)="bidProposal(proposal, true)">Accept Proposal</button>
        <button *ngIf="permission !== null && permission.isPCMember === true && unbiddenIDs.indexOf(proposal.id) !== -1" (click)="bidProposal(proposal, false)">Refuse Proposal</button>

    </div>
  </div>

</div>
