<h2>Add a new proposal</h2>

Name:<input type="text" #name/>
<br/>
Keywords<input type="text" #keywords/>
<br/>
Topics:<input type="text" #topics/>
<br/>
<br/>
<div *ngIf="wantToAddAuthor">
  Please add your colleagues email addresses, you are author by default!
  <br>
  Author email: <input type="text" #emailAddress/>
  <button (click)="addAuthor(emailAddress.value)">Add author</button>
</div>

<button *ngIf="wantToAddAuthor === false && proposal" (click)="wantToAddAuthor = true">Want to add author</button>
<button *ngIf="!proposal" (click)="addProposal(name.value, keywords.value, topics.value)">Add Proposal</button>
<button (click)="goBack()">Back</button>
